<h2>Bullying: What you need to know</h2>

	<ul>
		<li>What it is</li>
		<li>Effects on self-esteem</li>
		<li>What to do if you are being bullied</li>
		<li>What to do if your friend is being bullied</li>
	</ul>