<div class="concern_form">

  <h2>Edit your concern here</h2>

  	<%= form_for @concern, url: user_concern_path, html: { method: :patch } do |c| %>
  		<%= c.text_area :text %>
  		<%= c.submit :class => 'update' %>
  	<% end %>

    <%= image_tag "sign.png" %>

</div>
