
<DOCTYPE!>
<html>
<head>
	<title>SpeakUp</title>
</head>
<body>

		<div class="homepage">

			<h2 class="logo"><img src="assets/images/speakupLogo.tiff"></h2>
	 
		<div class="box-1">
			<h3>Bullying |ˈbo͝olē|</h3>
			Unwanted, aggressive behavior involving a real or perceived power imbalance that encompasses threatening behavior, spreading rumors, attacking someone physically or verbally, and intentionally excluding someone from a group.
		</div>
			
		<div class="box-2">
			<h3>Cyberbullying |ˌsībərˈbo͝olēiNG|</h3>
			is bullying via electronic technology, including but not limited to mean comments and rumor-spreading via text message, email, and social media.
		</div>

		<div class="box-3">
			<h3>If you are being bullied, <%= link_to 'click here', new_user_concern_path(current_user)%> to report it.</h3>
		</div>

		<div class="right-sidebar">
			<h3> Your Logged Concerns </h3>
				<ul>
					<% @concerns.each do |c| %>
					<li>
						<%= link_to 'Edit', edit_user_concern_path(current_user, c.id) %>
						<%= link_to 'Delete', user_concern_path(current_user, c.id), method: :delete %>
						<%= c.text %>
					</li>
					<% end %>
				</ul>
		</div>

	</div>

</body>
</html>