<!DOCTYPE html>
<html>
<head>
  <title>SpeakUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% 

if user is signed in, display link to logout
if they aren't logged in, display signup AND signin %>


<!-- links to view concerns, homepage: research -->

<%= yield %>

</body>
</html>
